<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
    bootstrap="vendor/autoload.php"
    colors="true"
    testdox="true"
    stopOnError="true" stopOnFailure="false" stopOnSkipped="false" stopOnRisky="false"
    failOnWarning="true" failOnRisky="false"
    timeoutForSmallTests="5" timeoutForMediumTests="30" timeoutForLargeTests="60"
    beStrictAboutTestsThatDoNotTestAnything="true" beStrictAboutOutputDuringTests="false">

    <php>
        <env name="APPLICATION_ENVIRONMENT" value="test" />
        <ini name="memory_limit" value="-1" />
        <ini name="display_errors" value="On" />
        <ini name="display_startup_errors" value="On" />
        <ini name="ignore_repeated_errors" value="On" />
    </php>

    <!-- Test suite configuration -->
    <testsuites>
        <testsuite name="all">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
